*{
    background-color: #eee;
    font-family: sans-serif;
}

.container{
    position: relative;
    margin: 20px auto; /*o valor para cima e automatico para o resto*/ 
    width: 70%;
    height: 390px;
    padding: 10px;
    background: black;
    border: 10% solid white;
    box-shadow: 4px 4px 4px grey; 
    border-radius: 3%;
}
.Resultado{
    position: relative;
    width: 70,2%;
    height: 150px;
    padding: 6px;
    background-color:black;
    margin-top: 10px;
}

.botoes{
    margin-top: 25px;
    width: 93%;
    height: auto;
    padding: 10px;
    background: black;
    
}
.campo{
    width: 100%;
    height: 148px;
    border: none;
    opacity: 0.5;
    background-color: black;
    color: black;
    font-size: 220%;
    text-align: right;
}   

.btn{
    margin-top: 10px;
    width: 18%;
    height: 10%;
 /*   padding: 3%;*/
    background-color: #ebebeb;
    color: IndianRed;
    font-size: 145%;
    border-radius: 5%;
    
    /*border: 5px solid #1c86ee;*/
}
.btn:hover{
    cursor: pointer;
    background-color: IndianRed;
    color: #ebebeb;
}
/*.overlay{
    display: none;
    z-index:0;
    cursor: pointer;
}*/

.igual{
    width: 15.8%;
    height: 18.6%;
    right: 26px;
    position:absolute;
}
.zero{
    width: 37.65%;
    height: 15.8%;
}

